/*--------------*/
/*    Footer    */
/*--------------*/
.footer-area {
    padding-top: 100px;
    background-color: #222222;
}

.footer-area .footer-nav li {
    margin-top: 8px;
}

.footer-area .footer-nav li a {
    color: #777777;
}

.footer-area .footer-nav li a:hover {
    color: #3face4;
}

.footer-area h6 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: 600;
}

.single-footer-widget h3 {
    color: #fff;
}

.footer-text a,
.footer-text i {
    color: #3face4;
}
/*------------------*/
/*    Footer End    */
/*------------------*/