/*----------------*/
/*    Services    */
/*----------------*/
.single-service {
    text-align: center;
}

.single-service .fas {
    font-size: 35px;
    color: #3face4;
}

.single-service h4 {
    transition: all 300ms linear 0s;
    margin: 20px 0px;
}

.single-service p {
    margin: 0;
}

.single-service:hover {
    cursor: pointer;
}

.single-service:hover h4 {
    color: #3face4;
}

@media (max-width: 991px) {
    .single-service {
        margin-bottom: 30px;
    }
}
/*--------------------*/
/*    Servcies End    */
/*--------------------*/