// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

::-moz-selection {
    /* Code for Firefox */
    background-color: #3face4;
    color: #fff;
}

::selection {
    background-color: #3face4;
    color: #fff;
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #777777;
    font-weight: 300;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #777777;
    opacity: 1;
    font-weight: 300;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #777777;
    font-weight: 300;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #777777;
    font-weight: 300;
}
/*----------------*/
/*    Defaults    */
/*----------------*/
body {
    color: #777777;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    position: relative;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

select {
    display: block;
}

figure {
    margin: 0;
}

a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

iframe {
    border: 0;
}

a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}
/*--------------------*/
/*    Defaults End    */
/*--------------------*/

/*------------*/
/*    Main    */
/*------------*/

/* Banner component */
.banner-wrapper {
    position: relative;
    z-index: 1;
    min-height: 350px;
}

.banner-wrapper .banner-inner-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 350px;
    background: url(../img/banner-bg.jpg) no-repeat center bottom;
    background-size: auto;
    z-index: 1;
}

.banner-wrapper .banner-inner-wrapper .overlay {
    background: rgba(0, 0, 0, 0.42);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.banner-wrapper .banner-inner-wrapper .banner-content {
    position: relative;
    z-index: 10;
}

.banner-wrapper .banner-inner-wrapper .banner-content h2 {
    color: #ffffff;
    font-size: 48px;
    font-family: "Poppins", sans-serif;
    margin-bottom: 12px;
    font-weight: 500;
}

.banner-wrapper .banner-inner-wrapper .banner-content .page_link a {
    font-size: 14px;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    margin-right: 32px;
    position: relative;
}

.banner-wrapper .banner-inner-wrapper .banner-content .page_link a:before {
    content: "\e87a";
    font-size: 14px;
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
}

.banner-wrapper .banner-inner-wrapper .banner-content .page_link a:last-child {
    margin-right: 0px;
}

.banner-wrapper .banner-inner-wrapper .banner-content .page_link a:last-child:before {
    display: none;
}

.banner-wrapper .banner-inner-wrapper .banner-content .page_link a:hover {
    color: #3face4;
}

/* Banner component end */

/* Services page */
.single-service {
    text-align: center;
}

.single-service .fas {
    font-size: 35px;
    color: #3face4;
}

.single-service h4 {
    transition: all 300ms linear 0s;
    margin: 20px 0px;
}

.single-service p {
    margin: 0;
}

.single-service:hover {
    cursor: pointer;
}

.single-service:hover h4 {
    color: #3face4;
}

@media (max-width: 991px) {
    .single-service {
        margin-bottom: 30px;
    }
}
/* Services page end */

/* Contacts page */
.contact_info .info_item {
    position: relative;
    padding-left: 45px;
}

.contact_info .info_item i {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 20px;
    line-height: 24px;
    color: #3face4;
    font-weight: 600;
}

.contact_info .info_item h6 {
    font-size: 16px;
    line-height: 24px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    margin-bottom: 0px;
    color: #000000;
}

.contact_info .info_item h6 a {
    color: #000000;
}

.contact_info .info_item p {
    font-size: 14px;
    line-height: 24px;
    padding: 2px 0px;
}

.contact_form .form-group {
    margin-bottom: 10px;
}

.contact_form .form-group .form-control {
    font-size: 13px;
    line-height: 26px;
    color: #999;
    border: 1px solid #eeeeee;
    font-family: "Poppins", sans-serif;
    border-radius: 0px;
}

.contact_form .form-group .form-control:focus {
    box-shadow: none;
    outline: none;
}

.contact_form .form-group .form-control.placeholder {
    color: #999;
}

.contact_form .form-group .form-control:-moz-placeholder {
    color: #999;
}

.contact_form .form-group .form-control::-moz-placeholder {
    color: #999;
}

.contact_form .form-group .form-control::-webkit-input-placeholder {
    color: #999;
}

.contact_form .form-group textarea {
    resize: none;
}

.contact_form .form-group textarea.form-control {
    height: 140px;
}
/* Contacts page end */

/*----------------*/
/*    Main End    */
/*----------------*/

/*--------------*/
/*    Footer    */
/*--------------*/
.footer-area {
    padding-top: 100px;
    background-color: #222222;
}

.footer-area .footer-nav li {
    margin-top: 8px;
}

.footer-area .footer-nav li a {
    color: #777777;
}

.footer-area .footer-nav li a:hover {
    color: #3face4;
}

.footer-area h6 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: 600;
}

.single-footer-widget h3 {
    color: #fff;
}

.footer-text a,
.footer-text i {
    color: #3face4;
}
/*------------------*/
/*    Footer End    */
/*------------------*/